{% extends 'base.html' %}
{% block content %}

<div class="glass-card p-5 w-100" style="max-width: 700px;">

    <h2 class="mb-4">📚 Library Dashboard</h2>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="p-4 text-center glass-card">
                <h4>👨‍🎓 Users</h4>
                <p>Manage students</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="p-4 text-center glass-card">
                <h4>📖 Books</h4>
                <p>View library books</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="p-4 text-center glass-card">
                <h4>📦 Issue</h4>
                <p>Issue / Return</p>
            </div>
        </div>

    </div>

    <hr class="my-4">

    <div class="text-center">
        <h5>👋 Welcome to Smart Library System</h5>
        <p class="text-muted">Modern AWS Powered Library Dashboard</p>
    </div>

</div>

{% endblock %}
